<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <h1>edit dive</h1>
  </div>
</div>

<%= render partial:'form', locals: {action: 'update', method_var: 'patch', dive_lat: @dive.latitude, dive_long: @dive.longitude} %>
